*.bak
.anjuta*
*.anjuta
src/*.bak
compile
autom4te.cache/
data/pepm.desktop
data/pepm.desktop.in
src/pepm
Makefile
config.h
config.log
config.status
data/Makefile
data/fpm2.desktop
data/fpm2.desktop.in
data/pixmaps/Makefile
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/bg.gmo
po/cs.gmo
po/de.gmo
po/es.gmo
po/eu.gmo
po/fr.gmo
po/hu.gmo
po/it.gmo
po/ru.gmo
po/stamp-it
src/.deps/
src/Makefile
src/fpm2
src/*.o
stamp-h1
